@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to bootcamp 2023 day2</h1>
    <p>
    <ul>
        <li>
            Add webapp DONE
        </li>
        <li>
            Build it
        </li>
        <li>
            Merge to master
        </li>
    </ul>
    </p>
</div>
